<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="at.dhx.adempiere.ersync.process.ImportWebOrder"
         name="at.dhx.adempiere.ersync.process.ImportWebOrder"
         point="org.adempiere.base.Process">
      <process
            class="at.dhx.adempiere.ersync.process.ImportWebOrder">
      </process>
   </extension>
   <extension
         id="at.dhx.adempiere.ersync.process.ImportPOSOrder"
         name="at.dhx.adempiere.ersync.process.ImportPOSOrder"
         point="org.adempiere.base.Process">
      <process
            class="at.dhx.adempiere.ersync.process.ImportPOSOrder">
      </process>
   </extension>
   <extension
         id="at.dhx.adempiere.ersync.process.ImportPurchaseOrder"
         name="at.dhx.adempiere.ersync.process.ImportPurchaseOrder"
         point="org.adempiere.base.Process">
      <process
            class="at.dhx.adempiere.ersync.process.ImportPurchaseOrder">
      </process>
   </extension>
   <extension
         id="at.dhx.adempiere.ersync.process.ImportAutoInventoryMove"
         name="at.dhx.adempiere.ersync.process.ImportAutoInventoryMove"
         point="org.adempiere.base.Process">
      <process
            class="at.dhx.adempiere.ersync.process.ImportAutoInventoryMove">
      </process>
   </extension>

</plugin>
